/* CircularCustCapNum Font Family - Optimized for WeasyPrint */

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 900;
    font-style: normal;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-Black.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-Black.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 900;
    font-style: italic;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-BlackItalic.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-BlackItalic.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-Bold.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-Bold.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 700;
    font-style: italic;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-BoldItalic.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-BoldItalic.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 500;
    font-style: normal;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-Medium.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-Medium.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 500;
    font-style: italic;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-MediumItalic.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-MediumItalic.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-Book.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-Book.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 400;
    font-style: italic;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-BookItalic.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-BookItalic.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-BookItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 300;
    font-style: normal;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-Light.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-Light.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularCustCapNum';
    font-weight: 300;
    font-style: italic;
    font-display: block;
    src: url('../fonts/circular/CircularCustCapNum-LightItalic.woff2') format('woff2'),
         url('../fonts/circular/CircularCustCapNum-LightItalic.woff') format('woff'),
         url('../fonts/circular/CircularCustCapNum-LightItalic.ttf') format('truetype');
}
